doctype
head
    title= page
    meta(charset='utf-8')
    link(rel='stylesheet' href="bower_components/materialize/dist/css/materialize.min.css")
    link(rel='stylesheet' href='style/style.css')
    link(rel="shortcut icon" href="image/favicon.ico" type="image/x-icon")
body
    .container
        h1= page